<div class="content is-small">
    {{#each .}}
    <p>
        <span title="{{date_time}}">{{date_time_relative}}</span>
        markerade
        <span class="tag is-small" style="background-color: {{user.color}}">{{user.name}}</span>
        att
        <span class="tag is-small" style="background-color: {{person.color}}">{{person.name}}</span>
        {{#if data.completed}}
        <span class="tag is-small is-success">klarat av</span>
        {{/if}}
        {{^if data.completed}}
        <span class="tag is-small is-danger">inte gjort klart</span>
        {{/if}}
        steget
        <em>{{step.description}}</em>.
    </p>
    {{/each}}
</div>
