{{#if steps}}
<p><strong>Moment:</strong></p>
<div class="is-hidden-desktop">
    <div class="box">
        <div class="content">
            <p>Märket är utdelat</p>
        </div>
        {{#if people}}
        <div class="is-grouped buttons">
            {{#each people}}
            <button class="button is-white is-small awarded-switch" id="awarded-toggle_{{id}}"
                    data-person-id="{{id}}">
                    <span class="icon is-small has-text-info">
                        <i class="mdi mdi-decagram-outline mdi-dark mdi-24px"></i>
                    </span>
                <span>
                    {{name}}
                </span>
            </button>
            {{/each}}
        </div>
        {{/if}}
    </div>
    {{#each steps}}
    <div class="box">
        <div class="content">
            <p>
                {{#if prerequisite_achievement}}
                <a href="#marken/{{prerequisite_achievement}}" aria-current="page">Förkunskapskrav</a>
                {{else}}
                {{description}}
                {{/if}}
            </p>
        </div>
        {{#if ../people}}
        <div class="is-grouped buttons">
            {{#each ../people}}
            <button class="button is-white is-small progress-switch" id="progress-toggle-{{../id}}_{{id}}"
                    data-person-id="{{id}}" data-step-id="{{../id}}">
                    <span class="icon is-small has-text-info">
                        <i class="mdi mdi-circle-outline mdi-flip-h mdi-dark mdi-24px"></i>
                    </span>
                <span>
                        {{name}}
                    </span>
            </button>
            {{/each}}
        </div>
        {{/if}}
    </div>
    {{/each}}
</div>
<div class="is-hidden-tablet-only is-hidden-mobile">
<table class="table">
    <thead>
    <tr>
        <th></th>
        {{#each people}}
        <th class="rotate"><div><span>{{name}}</span></div></th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Märket är utdelat</td>
        {{#each people}}
        <td>
            <button class="button is-white awarded-switch" id="awarded-toggle_{{id}}" data-person-id="{{id}}">
                <span class="icon has-text-info">
                    <i class="mdi mdi-decagram-outline mdi-dark mdi-24px"></i>
                </span>
            </button>
        </td>
        {{/each}}
    </tr>
    {{#each steps}}
    <tr>
        <td>
            {{#if prerequisite_achievement}}
            <a href="#marken/{{prerequisite_achievement}}" aria-current="page">Förkunskapskrav</a>
            {{else}}
            {{description}}
            {{/if}}
        </td>
        {{#each ../people}}
        <td>
            <button class="button is-white progress-switch" id="progress-toggle-{{../id}}_{{id}}" data-person-id="{{id}}" data-step-id="{{../id}}">
                        <span class="icon has-text-info">
                            <i class="mdi mdi-circle-outline mdi-flip-h mdi-dark mdi-24px"></i>
                        </span>
            </button>
        </td>
        {{/each}}
    </tr>
    {{/each}}
    </tbody>
</table>
{{else}}
    <p>Du har inte hunnit lägga till några moment ännu. Gör det med det lilla formuläret här till vänster.</p>
{{/if}}
</div>