{{#if steps}}
<table class="table">
    <thead>
        <tr>
            <th>Moment</th>
            {{#each people}}
                <th>{{name}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
    {{#each steps}}
        <tr>
            <td>
                {{#if prerequisite_achievement}}
                    <a href="#marken/{{prerequisite_achievement}}" aria-current="page">Förkunskapskrav</a>
                {{else}}
                    {{description}}
                {{/if}}
            </td>
            {{#each ../people}}
                <td>
                    <button class="button progress-switch" id="progress-toggle-{{../id}}_{{id}}" data-person-id="{{id}}" data-step-id="{{../id}}">
                        &nbsp;
                    </button>
                </td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>
{{else}}
<p>Du har inte hunnit lägga till några moment ännu. Gör det med det lilla formuläret här till vänster.</p>
{{/if}}
