{{#if achievements}}
    {{#each achievements}}
    <div class="field is-grouped is-grouped-multiline">
        <div class="control">
            <div class="tags">
                {{achievement.name}}
            </div>
        </div>
        {{#if progress_summary.people_completed}}
        <div class="control">
            <div class="tags has-addons">
                <span class="tag">
                    Färdiga
                </span>
                <span class="tag is-success" title="{{progress_summary.people_completed}} har gjort klar allt.">{{progress_summary.people_completed}}</span>
            </div>
        </div>
        {{/if}}
        {{#if progress_summary.people_started}}
        <div class="control">
            <div class="tags has-addons">
                <span class="tag">
                    Nästan
                </span>
                <span class="tag is-warning" title="{{progress_summary.people_started}} har påbörjat.">{{progress_summary.people_started}}</span>
            </div>
        </div>
        {{/if}}
    </div>
    {{/each}}
{{else}}
<p>Om några hade påbörjat något märke så hade du sett det här.</p>
{{/if}}