<section class="section">
    <div class="container">
        <h1 class="title">
            Kår <strong>{{name}}</strong>
        </h1>

        {{> ../_breadcrumbs.handlebars}}

        <div class="tile is-ancestor">
            <div class="tile is-parent is-4">
                <div class="tile is-child box">
                    <h2 class="subtitle">Sammanfattning av märken</h2>
                    <div id="achievements-summary"></div>
                    <br>
                    <p>
                        <a href="#karer/{{orgId}}/marken">Vem har gjort vad?</a>
                    </p>
                </div>
            </div>
            <div class="tile is-parent is-4">
                <div class="tile is-child box">
                    <h2 class="subtitle">Administration</h2>
                    <p>
                        <a href="#karer/{{orgId}}/importera">Importera personer och patruller</a>
                    </p>
                    <p>
                        <a href="#karer/{{orgId}}/personer">Hantera personer</a>
                    </p>
                    <p>
                        <a href="#karer/{{orgId}}/patruller">Hantera patruller</a>
                    </p>
                </div>
            </div>
            <div class="tile is-parent is-4">
                <div class="tile is-child box">
                    <h2 class="subtitle">Tips för att bjuda in användare</h2>
                    <div class="content">

                        <p>Det finns flera sätt att underlätta för scouter och ledare att komma igång med Mina Märken:</p>

                        <p><strong>Berätta för redan inlagda personer</strong></p>
                        <p>Personer som redan finns inlagda kan logga in så länge deras e-postadress är angiven. Inloggning görs enklast från startsidan och användaren väljer den inloggningsmetod som passar bäst (Google, Microsoft eller vanlig e-postinloggning).</p>
                        <!--<p><a href="{{invite_link}}" target="_blank">{{invite_link}}</a></p>-->

                        <p><strong>Välkomstbrev för redan inlagda personer</strong></p>
                        <p>Underlätta för en redan inlagd person att logga in genom att leta upp personen och trycka på knappen <em>Skicka välkomstbrev</em>. Då får personen ett e-post som berättar lite om vad Mina Märken är och hur hen ska göra för att logga in.</p>
                        <!--<p><strong>Länk för nya personer</strong></p>-->
                        <!--<p><strong>Visa QR-kod för inlagd person utan e-postadress</strong></p>-->
                        <!--<p><strong>Ge pin-kod till inlagd person utan e-postadress</strong></p>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{{> ../_footer.handlebars}}