{{#if achievements}}
    {{#each achievements}}
    <div class="field is-grouped is-grouped-multiline">
        <div class="control">
            <div class="tags">
                {{achievement.name}}
            </div>
        </div>
        {{#if count_category_awarded}}
        <div class="control">
            <div class="tags has-addons" title="{{count_category_awarded}} har fått märket.">
                <span class="tag">
                    Fått
                </span>
                <span class="tag is-success">{{count_category_awarded}}</span>
            </div>
        </div>
        {{/if}}
        {{#if count_category_done}}
        <div class="control">
            <div class="tags has-addons" title="{{count_category_done}} har gjort klar allt men har inte fått märket.">
                <span class="tag">
                    Klara
                </span>
                <span class="tag is-success">{{count_category_done}}</span>
            </div>
        </div>
        {{/if}}
        {{#if count_category_started}}
        <div class="control">
            <div class="tags has-addons" title="{{count_category_started}} har påbörjat märket.">
                <span class="tag">
                    Börjat
                </span>
                <span class="tag is-primary">{{count_category_started}}</span>
            </div>
        </div>
        {{/if}}
    </div>
    {{/each}}
{{else}}
<p>Om några hade påbörjat något märke så hade du sett det här.</p>
{{/if}}