<section class="section">
    <div class="container">
        <h1 class="title">
            Min profil
        </h1>

        <div class="columns">
            <div class="column">
                <div class="content">
                    <p>Hej, {{person.name}}.</p>
                    <p>Din e-postadress är {{person.email}}.</p>
                    <p>Du är med i kåren <a href="#minkar">{{organization.name}}</a>.</p>
                    {{#each person.attributes}}
                    <p>{{key}}: {{value}}</p>
                    {{/each}}

                    {{#person.is_password_credential_created}}
                    <p>Du kan <a href="#minprofil/losenord">ändra ditt lösenord</a> när du loggar in med din
                        e-postadress.</p>
                    {{^person.is_password_set}}
                    <article class="message is-warning">
                        <div class="message-body">
                            Du har inte valt ett lösenord. Vi tycker verkligen du ska <a href="#minprofil/losenord">ange
                            ett lösenord</a> så att ditt
                            konto bättre skyddas mot klåfingriga personer!
                        </div>
                    </article>
                    {{/person.is_password_set}}
                    {{/person.is_password_credential_created}}
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h2 class="subtitle">Märken</h2>
                    <div id="achievements-summary"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> ../_footer.handlebars}}