<section class="section">
    <div class="container">
        <h1 class="title">
            Min profil
        </h1>

        <div class="columns">
            <div class="column">
                <div class="content">
                    <p>Hej, {{person.name}}.</p>
                    <p>Din e-postadress 채r {{person.email}}.</p>
                    <p>Du 채r med i k책ren <a href="#karer/{{organization.id}}">{{organization.name}}</a>.</p>
                    {{#each person.attributes}}
                    <p>{{key}}: {{value}}</p>
                    {{/each}}
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h2 class="subtitle">M채rken</h2>
                    <div id="achievements-summary"></div>
                </div>
            </div>
        </div>
</section>
{{> ../_footer.handlebars}}