<section class="section">
    <se class="container is-fluid">
        <h1 class="title">
            Importera märken från Scouterna
        </h1>

        {{> ../_breadcrumbs.handlebars}}
            <p>Filtrera listan genom att klicka på en etikett:</p>
            <div class="tags are-small">
                {{#each tags}}
                    <span class="tag achievement-tag is-light" data-key="{{key}}">{{label}}</span>
                {{/each}}
            </div>

            {{#if achievements}}
                {{#each achievements}}

                    <section class="section section-achievement {{tagKeysCssClasses}}">
                    <div class="tile is-ancestor">
                        <div class="tile is-4">
                            <article class="tile is-child">
                                <h2 class="subtitle">{{fromScouternaSe.name}}</h2>

                                <p>
                                    <strong>Etiketter</strong>
                                    <br>
                                    {{#each fromScouternaSe.tags}}
                                        <span class="tag is-light">{{.}}</span>
                                    {{/each}}
                                </p>
                                <p>
                                    <strong>Bild</strong>
                                </p>
                                {{#if fromScouternaSe.image}}
                                    <figure class="image is-64x64">
                                        <img src="{{fromScouternaSe.image}}" alt="Image">
                                    </figure>
                                {{/if}}
                                <div class="content">
                                <p>
                                    <strong>Beskrivning</strong>
                                </p>
                                {{{fromScouternaSe.descriptionHtml}}}

                                <p>
                                    <strong>Delmoment</strong>
                                </p>
                                <ul>
                                    {{#each fromScouternaSe.steps}}
                                        <li>{{description}}</li>
                                    {{/each}}
                                </ul>
                                </div>
                            </article>
                        </div>
                        <div class="tile is-4 is-parent">
                            {{#if diffHtml}}
                                <article class="diff notification">
                                    {{{diffHtml}}}
                                </article>
                            {{/if}}
                        </div>
                        <div class="tile is-4">
                            <div class="container">
                                <div>
{{> ./_import-scouterna-se.form.handlebars}}
                                </div>
                                {{#if affected_people_count}}
                                    <div class="tags has-addons" style="margin-top: 1rem">
                                        <span class="tag is-warning">OBS: Ändra med försiktighet</span>
                                        <span class="tag is-warning is-light">{{affected_people_count}} personer har tagit, eller håller på att ta, märket.</span>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    </section>

                {{/each}}
            {{else}}
                <p>Tyvärr, vi hittade inget som passade.</p>
            {{/if}}
    </div>
</section>
{{> ../_footer.handlebars}}