{{#if achievements}}
    {{#each achievements}}
        <div class="box">
            <article class="media">
                <div class="media-left">
                    {{#if image}}
                    <figure class="image is-64x64">
                        <img src="{{image}}" alt="Image">
                    </figure>
                    {{/if}}
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong><a href="#achievements/{{id}}" aria-current="page">{{name}}</a></strong>
                            <br>
                            {{description}}
                        </p>
                    </div>
                </div>
            </article>
        </div>
    {{/each}}
{{else}}
<p>Tyvärr, vi hittade inget som passade.</p>
{{/if}}
