<section class="section">

    <div class="container">

        <div class="columns">
            <div class="column is-two-thirds">

                <h1 class="title">
                    Hjälper dig hålla koll på dina scouters framsteg.
                </h1>

                {{#if isLoggedIn}}
                {{else}}
                <div class="content">
                    <div class="notification is-warning">
                        <h1>Publik beta för scoutledare</h1>
                        <p>Alla ska kunna ha nytta av den här sidan men just nu riktar vi oss i första hand till
                            scoutledare.</p>
                        <p>Tanken är att du som scoutledare kan använda den här tjänsten för att kryssa för vilka
                            delmoment som dina scouter klarat av för respektive märke.</p>
                        <p><strong>Kom igång genom att <a href="#skapa-konto" aria-current="page">berätta vilken kår du
                            tillhör och hur du vill logga in</a>.</strong></p>
                        <p>Om du redan har ett konto loggar du in via knapparna <span class="is-hidden-tablet">längst ner</span><span
                                class="is-hidden-mobile">till höger</span>.</p>
                    </div>
                </div>
                {{/if}}

                <div class="content">

                    <p>
                        <strong>Tre</strong> av <a href="#marken">alla <span id="main-achievements-count"/> märken</a>:
                    </p>

                </div>

                <div id="main-achievements-showcase"></div>

            </div>
            <div class="column">
                {{#if isLoggedIn}}
                <article class="notification has-text-centered">
                    <div class="content">
                        <p>
                            <a class="button is-primary is-medium" type="submit" href="#minprofil">
                                Min sida
                            </a>
                        </p>
                        <p>Dina märken och dina kontaktuppgifter.</p>
                    </div>
                </article>
                <article class="notification has-text-centered">
                    <div class="content">
                        <p>
                            <a class="button is-primary is-medium" type="submit" href="#marken">
                                Alla märken
                            </a>
                        </p>
                        <p>Vilka märken vill du ta?</p>
                        <p>Vilka märken har dina scouter tagit?</p>
                    </div>
                </article>
                <!--
                            <article class="notification has-text-centered">
                                <div class="content">
                                    <p>
                                        <a class="button is-primary is-medium" type="submit" href="#karer">
                                            Alla kårer
                                        </a>
                                    </p>
                                    <p>Vilka andra använder den här sidan?</p>
                                </div>
                            </article>
                -->
                {{else}}

                <form method="post">
                    <article class="notification has-text-centered">
                        <div class="content">
                            <button class="button is-primary is-medium" type="submit"
                                    formaction="{{host}}/api/openid/google/signin">
                                Logga in med Google
                            </button>
                        </div>
                        <div class="content is-small">
                            <p>Det här passar dig som har en Gmail-adress.</p>
                        </div>
                    </article>
                    <article class="notification has-text-centered">
                        <div class="content">
                            <button class="button is-primary is-medium" type="submit"
                                    formaction="{{host}}/api/openid/microsoft/signin">
                                Logga in med Microsoft
                            </button>
                        </div>
                        <div class="content is-small">
                            <p>Det här passar dig som har en Outlook-, Hotmail- eller Live-adress.</p>
                        </div>
                    </article>
                    <article class="notification has-text-centered">
                        <div class="content">
                            <div class="control">
                                <input class="input" type="email" id="email" name="email" placeholder="Din e-postadress">
                            </div>
                        </div>

                        <div class="content">
                            <div class="control">
                                <input class="input" type="password" id="password" name="password"
                                       placeholder="Ditt lösenord, om du har ett.">
                            </div>
                        </div>

                        <div class="content">
                            <button class="button is-primary is-medium" type="submit"
                                    formaction="{{host}}/api/openid/email/signin">
                                Logga in med e-post
                            </button>
                        </div>

                        <div class="content is-small">
                            <p><a href="#glomt-losenord" aria-current="page">Glömt lösenordet?</a></p>
                            <p>Orkar du inte bry dig om lösenord? Inga poblem. Om du inte anger ett lösenord så skickar vi
                                en inloggningslänk till dig.</p>
                        </div>

                    </article>
                </form>
                {{/if}}
            </div>
        </div>
    </div>
</section>
{{> _footer.handlebars}}
